<div class="row">
  <div class="col-md-12">
    <h3>Sign Up For SubJobAlert (it's free to try!)</h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>

        <br>

        <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>

        <br>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Retype Password' %>

        <br>
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>


<%= render "devise/shared/links" %>
